@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");


#content {
  max-width: 1600px;
      margin: 0 auto;
    }
      header {
        background-color:#dabebf;
        text-align: center;
      }
      nav a:hover {
        background-color: black;
        color:#fcfcfc;
      }
      div {
       background-color:#474733;
       text-align:center;
      }
    nav {
        text-align: center;
        color:#474733;
        text-decoration: none;
        padding: 35px;
      }
    .logo {
    width: 80px;
    height: 20px;
}
 #logo_link {
    
  align-self: center;
}
  .himg {
        width:50px;
        height: 200px;
      }
      footer {
        background-color:#dabebf;
        color: black;
        font-size: 1.2em;
        
      }


/*sub page book now  */


/*sub page 2 FAQs  */
.faq { 
  width:50px;
  height:100px;
}
     
     

